<div class="landingContainer container">
    <div class="item">
        <div class="topic">가장 핫한 투표를<br>확인해 보세요!</div>
        <div class="detail">현재 사람들에게 가장 인기있는 투표는 무엇일까요?<br>
            TOP10에서 핫한 투표를 확인하고 직접 투표해보세요!
        </div>
    </div>

    <div class="item">
        <img src="/images/landing/topTen.png" >
    </div>

    <div class="item">
        <img src="/images/landing/vot1.png" >
    </div>

    <div class="item">
        <div class="topic">나만의 투표를 만들어<br>답변을 받아보세요!</div>
        <div class="detail">이거? 아님 저거? 결정하기 어려워 머리가 아플 때!<br>
             나만의 투표를 만들어 많은 사람들의 답변을 받아보세요!
        </div>
    </div>

    <div class="item">
        <div class="topic">봇봇을<br>다양하게 활용하세요!</div>
        <div class="detail">과제나 작업물에 사용될 설문조사, 투표 사이트를 찾고 계신가요?<br>
             봇봇을 단순한 투표를 넘어 다양하게 활용해 보세요!
        </div>
    </div>

    <div class="item">
        <img src="/images/landing/vot2.png" >
    </div>
</div>