
<div class="new container">
    <h1>Step 2</h1>

    <% @current_sub.each do |current_sub| %>
        <%= render 'form', subject: current_sub, post_id: @post_id, message: '수정' %>
        
    <% end %>

    <%= render 'form', subject: @subject, post_id: @post_id, message: '생성' %>

    <%= link_to '완료', "/posts/#{@post_id}", class: 'submit_btn' %>
</div>