.footer {
    background-color: #f6f6f6;
    text-align: center;

    .footerItem {
        padding: 5vh 0 5vh 0;
    
        a {
            color: black;
            text-decoration-line: none;
        }
        a:hover {
            color: black;
        }
    
        img {
            margin-bottom: 3vh;
        }
    }
    
    .footerLink {
        color: #909090;
    }
    
    
    
    .footerAddress {
        color: gray
    }
}


