.header {
    padding: 3vh 7vh 3vh 7vh;
    margin-bottom: 15vh;
    box-shadow: 0 3px 5px #DCDCDC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        margin: 0 3vh 0 3vh;
        color: black;
        text-decoration-line: none;
    }
    a:hover {
        color: black;
    }
}

