.header {
    padding: 3vh 13vh 3vh 13vh;
    margin-bottom: 15vh;
    box-shadow: 0 3px 5px #DCDCDC;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        margin: 0 3vh 0 3vh;
        color: black;
        text-decoration-line: none;
    }
    a:hover {
        color: #6600ff;
    }
}

.headerLeft, .headerRight {
    width: 300px;
}
.headerRight {
    text-align: right;;
}
