.myPage {
    // 마이페이지
    .banner {
        width: 100vw;
        height: 200px;
        margin-left: calc(-50vw + 50%);
        background-color: #ffedbc;
        position: relative;
        z-index: -1;
    }

    .user {
        display: grid;
        grid-template-columns: 30% auto;
        justify-items: center;
        text-align: center;

        .userInfo {
            .info {
                .box {
                    width: 150px;
                    height: 150px;
                    border-radius: 70%;
                    overflow: hidden;
                    box-shadow: 0 3px 5px #DCDCDC;
                    background: #ffbc00;
                    transform: translateY(-60px);
    
                    .img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .text {
                    // 원래 마진 + 이미지 올라간 크기
                    margin-top: -30px;
    
                    .nickname {
                        font-size: 2rem;
                        font-weight: bold;
                    }
    
                    .email {
                        color: #949494;
                        margin-top: 2vh;
                    }
                }
            }

            button {
                margin-top: 2vh;
                width: 65%;
                height: 40px;
                background: #e3e3e3;
                border-radius: 27px;
                border: none;
            }
            button:hover {
                background: #a9a9a9;
            }
            
        }

        .my {
            
        }
    }

    // 마이페이지 - 수정
    .field {
        margin-top: 3vh;
    }

    .actions {
        display: inline;
        margin-right: 1.5vw;
    }
}