.post_show {
    background-color: #f6f6f6;

    .post {
        background-color: white;
        margin: 0vh 15vh;
        padding: 0vh 10vh;
        padding-bottom: 20vh;

        .title {
        }

        .hot {
            float: right;

            .like_btn {
                background-position: center;
                background-size: 100%;
                width: 20px; height: 28px;
                background-repeat: no-repeat;
                border: none;
                background-color: transparent;
            }

            .full_hot {
                background-image: url(/images/post_show/full_hot.png);
            }

            .empty_hot {
                background-image: url(/images/post_show/empty_hot.png);
            }
        }

        .subjects {
    
            .sub_box {
                border: solid 1px black;
            }
        }
    
        .submit_btn {
            width: auto;
            background-color: #60f;
            color: #fff;
            padding: 15px 30px;
            border-radius: 30px;
            border: none;
            float: right;
        }
    }

    .comments {
        background-color: white;
        margin: 0vh 15vh;
        padding: 0vh 10vh;
    }
}