
.title {
    margin: 7.6vh 9.4vw 5.3vh 0;
    font-size: 20px;
    font-weight: bold;
}

.write_btn {
    background-color: #60f;
    color: #fff;
    right: 90px;
    top: 260px;
    padding: 15px 30px;
    border-radius: 30px;
    position: fixed;
}

.write_btn:hover {
    color: #60f;
    background-color: white;
    border: 1px solid #60f;
}

.post_container {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    .post {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        padding: 1.2vw;
    }
}