.first_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        margin: 7.6vh 9.4vw 5.3vh 0;
        font-size: 20px;
        font-weight: bold;
    }
    
    .write_btn {
        background-color: #60f;
        color: #fff;
        text-decoration: none;
    }
}

.post_container {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    .post {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        padding: 1.2vw;
    }
}