.post_show {

    .subjects {

        .sub_box {
            border: solid 1px black;
        }
    }

    .submit_btn {
        width: auto;
        background-color: #60f;
        color: #fff;
        padding: 15px 30px;
        border-radius: 30px;
    }
}