// Place all the styles related to the toptens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post {
    position: relative;

    .mark {
        position: absolute;
        top:0;
        color: white;
        width: 60px;
        height: 60px;
        border: 1px solid #000;
        border-bottom: 25px solid transparent;
        border-top: none;
        border-left: 30px solid #000000;
        border-right: 30px solid #000000;
    }
}