<div class="footer">
    <div class="footerItem">
        <img src="/images/logo.png" width="40px">
        <p class="footerLink">
            <%= link_to '이용약관', 'https://www.naver.com'%>&nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to '개인정보처리방침', 'https://www.google.com'%>
        </p>
        <p class="footerAddress">(08821) 서울시 관악구 호암로 546</p>
    </div>
</div>